<div class="sidebar" id="side_nav">
  <div class="header-box px-2 pt-3 pb-4">
    <h2 class="fs-3"><span class="text-white">User Account</span></h2>
  </div>
  <ul class="list-unstyled px-2">
    <li class="active">
      <a href="#dashboard" class="text-decoration-none px-3 py-2 d-block" data-target="#dashboard" data-toggle="tab"><i
          class="fa-solid fa-house"></i> Dashboard</a>
    </li>
    <!-- <li>
      <a href="#services" class="text-decoration-none px-3 py-2 d-block" data-target="#services" data-toggle="tab"><i
          class="fa-solid fa-cloud"></i> Storage</a>
    </li> -->
    <li>
      <a href="#bin" class="text-decoration-none px-3 py-2 d-block" data-target="#bin" data-toggle="tab"><i
          class="fa-solid fa-trash-arrow-up"></i> Bin</a>
    </li>
  </ul>
</div>